body {
    background-color: #e0216e; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} 

.btn {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 10px;
    border: solid 1px white;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.5em;
    background: #e0216e;
    padding: 10px 20px; 
    text-decoration: none;
    margin-top: 30px;
    margin-left: 7px;
    width: 23%;
    cursor:pointer;
}
  
.btn:hover {
    background:white;
	border: solid 1px white;
	color:#e0216e;
}

#btn-container {
    text-align: center;
}

#container {
    color: #ffffff; 
} 

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 150px;
    text-align: center;
}

.hand {
    font-size: 1.5em;
    font-weight: bold;
}

.time {
    font-size: 5em;
    font-weight: bold;
}

/* Media Queries */
@media screen and (max-width:800px){
    #time-container {
        width: 80%;
    }

    .btn {
        font-size: 80%;
    }

    #btn-container {
        width: 80%; 
    }
    
    h1 {
        width: 80%;
    }
}

@media screen and (max-width:500px){
    #time-container {
        width: 50%;
    }

    .btn {
        font-size: 50%;
    }

    #btn-container{
        width: 50%;
    }

    h1 {
        width: 50%;
    }
}

@media screen and (max-width:300px){
    #time-container {
        width: 20%;
    }

    .btn {
        font-size: 20%;
    }

    #btn-container{
        width: 20%;
    }

    h1 {
        width: 20%;
    }
}






